h2 {
    color: #3857a0;
    font-family: 'PT Serif', Tahoma, Verdana, sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 1000px;
    margin: auto;
}

td {
    border: 1px solid black;
    padding: 10px;
}

table img {
    width: 200px;
}

p {
    font-family: helvetica;
}

li {
    font-weight: bold;
    color: #3857a0;
}

table li {
    font-weight: normal;
    color: #000;
}

a {
    text-decoration: none;
}