* {
    margin:0;
    padding:0;
}

.left-menu {
    background-color: #f2f2f2;
    height: 240px;
    width: 180px;
    margin: 50px;
    padding-top: 10px;
}   

a {
    background-color: #fff;
    color: #32577f;
    display: block;
    border-radius: 3px;
    width: 150px;
    height: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    margin: 2px 15px;
    font-family: 'arial black';
    

}

a:hover {
    background-color: #4576ba;
    color: #fff;
}

    