p {
    width: 500px;
    padding: 1em;
    margin: 2em;
    border: 1px solid grey;
    font-family: 'times new roman';
    font-size: 1.2em;
}

#p_1 {
    font-style: normal;
    font-weight: normal;
}

#p_2 {
    font-style: italic;
}

#p_3 {
    font-weight: bold;
}