* {
    padding: 0;
    margin: 0;
}
html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: sans-serif;
}

.table {
    background-color: #f2f5f9;
    border-top: 1px solid #d9e1ec;
    border-bottom: 1px solid #d9e1ec;
    display: flex;
    flex-direction: column;
    padding: 6px 10px;
    max-width: 1000px;
    margin-top: 6px;
}

.table-row {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #feba02;
    padding-top: 15px;
    padding-bottom: 15px;
}
.table-row:last-child {
    padding-bottom: 0;
}

.table-row:last-child {
    border-bottom: none;
}

.desc {
    color: #779bca;
    flex-basis: 140px;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 20px;
}
p {
    padding: 4px 0;
}

.list-item-important {
    background-color: #2f9a00;
    color: #f2f5f9;
    padding: 4px 6px;
}

a {
    color: #0896ff;
}

.to-top {
 text-align: right;
 margin-top: 25px;
}

.to-top::before {
    content: "\25B2";
    color: #0896ff;
    margin-right: -4px;
  }