table {
    width:800px;
    margin:10px auto;
	border-collapse: collapse;
	border:1px solid black;
 }
td{ 
	border:1px solid black;
	text-align:center;
	vertical-align: middle;
	min-width:20px;
    }
    
#blue {
    background-color: blue;
    color: white;
}

#violet {
    background-color: violet;
}

.red {
    background-color: red;
}

.skyblue {
    background-color: skyblue;
}